body{
	background: #e7dcbf45;
}

.page_name{
	font-size: 38px;
	color: gray;
	font-weight: bold;
}

.r{
	color: #d19c97;
	font-weight: bold;
	padding: 0px 10px 0px 10px;
	font-size: 45px;
}


.catagory_title{
	width: 100%;
	padding: 10px;
	font-size: 20px;
	text-transform: uppercase;
	cursor: pointer;	
	color: white;
	background-color: #d19c97;
	border-radius: 10px 10px 0px 0px;
	border-bottom: 1px solid white;
}

.catagory_list{
	background-color: #ffffff;
}


  .catagory_list a{
	color: black;
	text-decoration: none;
	font-weight: bold;
}




.catagory_list .list{
	padding: 10px;
	line-height: 35px;
	cursor: pointer;
	background: white;
	border-bottom: 1px solid gray;
	text-align: left;
	padding-left: 20px;
}





.catagory_list .list:hover a{
	color: #d19c97;
	font-weight: bold;
}

.discount{
	text-decoration: line-through;
}


.fooderinput{
	height: 50px;
	width: 100%;
	margin-bottom: 20px;
	padding-left: 20px;
	border: none;
}

.fooderinput_btn{
	height: 50px;
	width: 100%;
	margin-bottom: 20px;
	padding-left: 20px;
	background-color: #d19c97;
	border: none;
}


.add_count{
	text-align: center;
	background: #ff000085;
	border-radius: 20px;
	width: 20px;
	height: 20px;
	position: absolute;
	color: white;
	font-size: 13px;
	top: 10px;
}

.list:hover{
	background-color: #d19c97;
	color: white;
	border-bottom: 2px solid hsl(240, 26%, 72%);
	border-radius: 0px 0px 10px 10px;
	border-top: none;
}

.display_top_qnt{
	color: red;	
	position: absolute;
	top: 30%;
	width: 100%;
	background-color: #190fa54d;
	height: 27%;	
	text-align: center;
}
 
.itemtopqnt{
	font-size: 45px;
	border-radius: 10px;	
	height: 20px;
}